# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Entornos virtuales
venv/
.venv/
env/

# PyInstaller / builds
build/
dist/
*.manifest

# Estado local de la app
ns-code/
ng-studio-stuff/
_trash/
*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editores
.idea/
.vscode/
*.swp
